* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: rgb(219, 219, 219);
}

.my-container {
  width: 400px;
}

.no-padding {
  padding: 0;
}

.no-padding-left {
  padding-left: 0;
}

.width-full {
  width: 100%;
}

.width-400 {
  width: 400px;
}